.phone
  .top
    .camera
  .screen
    .pages
      .page.page1
        h2 Front-end developer
        h1 Vincent Li
        .orange
      .page.page2
        h2 Page 2
        p Experienced with HTML/CSS/Javascript/React.js
      .page.page3
        h2 page 3
        p Looking forward to be a Front-end developer!
  .bottom
    .button ☐
h3.status The best phone ever!!
h2.phonename iPhone5
.buttons
  button.i5 iPhone5
  button.i5s iPhone5s
  button.i6 iPhone6
  button.i6s iPhone6s
  button.wiggle Wiggle
  button.turn Turn around